/*Base*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/*root*/
html,
body,
#root {
  width: 100%;
  min-height: 100%;
}
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #222;
  background:
  /*ぼかし*/
  /*(色,透明度), 0~10%まで半透明(大きさ)*/
  /*楕円形(ellipse)*/
    radial-gradient(
      ellipse at 20% 20%,
      rgba(255, 255, 255, 0.5) 10%,
      transparent 11% /*11%で透明*/
    ),
    /*円*/
    radial-gradient(
        circle at 80% 25%,
        rgba(255, 255, 255, 0.45) 0 8%,
        transparent 9%
      ),
    /*帯状の光や色の流れ*/
    radial-gradient(
        circle at 30% 80%,
        rgba(255, 255, 255, 0.22) 0 9%,
        transparent 10%
      ),
    /*全体のベース*/ linear-gradient(180deg, #ffe4f1, #f3e8ff);
}
/*******************************/
/*共通button*/
/*******************************/
button {
  position: relative;
  border: 1px solid #000;
  background: rgb(196, 250, 213);
  color: black;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: -1px 3px 0 rgba(0, 0, 0, 0.18);
  overflow: visible;
}

/* エフェクト本体 */
button::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: inherit;
  padding: 4px;

  opacity: 0;
  pointer-events: none;

  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 20%,
    rgba(255, 255, 255, 0.95) 30%,
    rgba(0, 136, 248, 0.95) 40%,
    rgb(9, 190, 236) 50%,
    rgba(255, 255, 255, 0.95) 60%,
    transparent 80%,
    transparent 100%
  );
  background-size: 200% 100%;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* hover で発光 */
button:hover::before {
  opacity: 1;
  animation: electricRun 1.8s linear infinite;
}

@keyframes electricRun {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
